<div class="panel panel-default">
	<div class="panel-heading">List of Invoices</div>
	<div class="panel-body">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Received</th>
					<th>Purchase Order</th>
					<th>Schedule</th>
					<th>Total</th>
					<th>Status</th>
					<th>PaidStatus</th>
					<th>Links</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="inv in invs">
					<td>{{inv.receiveDate}}</td>
					<td>
						<button ng-click="viewpo(inv.purchaseOrderRef)" >
							Inspect PO
						</button>
					</td>
					<td>{{inv.paymentSchedule}}</td>
					<td>{{inv.total}}</td>
					<td>{{inv.status}}</td>
					<td>{{inv.paidStatus}}</td>
					<td>
						<button class="btn btn-xs" ng-repeat="link in inv._links"
							ng-class="{'btn-success':link.method=='POST','btn-danger':link.method=='DELETE'}"
							ng-click="follow(link)">
							{{link.rel}}
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
