<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<title>List all Plants</title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link>
</head>
<body>

<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">Invoices</div>
  <div class="panel-body">

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Payment schedule</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="invoice : ${invoices}">
                <td th:text="${invoice.id}"></td>
                <td th:text="${#calendars.format(invoice.paymentSchedule,'dd MMMM yyyy')}"></td>
                <td th:text="${invoice.total}"></td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-default" th:href="@{/invoices/form}">Add a new Invoice</a>
    
    </div>
    </div>
</div>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>