<div class="panel panel-default">
	<div class="panel-heading">List Purchase Orders</div>
	<div class="panel-body">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Plant</th>
					<th>Start Date</th>
					<th>End Date</th>
					<th>Cost</th>
					<th>Status</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="po in pos">
					<td>
						{{po.plant.description}}
						<button ng-click="viewplant(po.plant.links[0].href)" >
							Inspect Plant
						</button>
					</td>
					<td>{{po.startDate}}</td>
					<td>{{po.endDate}}</td>
					<td>{{po.cost}}</td>
					<td>{{po.status}}</td>
					<td>
						<button class="btn btn-xs" ng-repeat="link in po._links"
							ng-class="{'btn-success':link.method=='POST','btn-danger':link.method=='DELETE'}"
							ng-click="follow(link)">
							{{link.rel}}
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
