  <div class="panel panel-default">
    <div class="panel-heading">Create Plant</div>
    <div class="panel-body">

        <form class="form-horizontal" >
            <div class="form-group">
                <label for="plantname" class="col-sm-2 control-label">Name</label>
                <input id="plantname" type="text" ng-model="name"></input>
            </div>
            <div class="form-group">
                <label for="plantdescription" class="col-sm-2 control-label">description</label>
                <input id="plantdescription" type="text" ng-model="description"></input>
            </div>
            <div class="form-group">
                <label for="plantprice" class="col-sm-2 control-label">Price</label>
                <input id="plantprice" type="text" ng-model="price"></input>
            </div>
            <button id="updateButtonID" class="btn btn-default" ng-click="setPlant()">
                Save
            </button>
        </form>
        </form>
        <p/>
    </div>
</div>