<div class="panel panel-default">
	<div class="panel-heading">List of Customers</div>
	<div class="panel-body">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Vat Number</th>
					<th>Invoices</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="cust in customers">
					<td>{{cust.name}}</td>
					<td>{{cust.vatNumber}}</td>
					<td>
						<button class="btn btn-xs" ng-repeat="link in inv._links"
							ng-class="{'btn-success':link.method=='POST','btn-danger':link.method=='DELETE'}"
							ng-click="follow(link)">
							{{link.rel}}
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
