  <div class="panel panel-default">
    <div class="panel-heading">View Customer</div>
    <div class="panel-body">

        <form class="form-horizontal">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name</label>
         		 <label>{{plant.name}}</label>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Description</label>
         		 <label>{{plant.description}}</label>
            </div>
            <div class="form-group">
                <label for="startDate" class="col-sm-2 control-label">Start date</label>
                <label><td>{{plant.price}}</td></label>
                
            </div>
            <button id="SubmitButtonID" class="btn btn-default" ng-click="execQuery()">
                back
            </button>
        </form>
        <p/>
    </div>
</div>